.historia{
    width: 100%;
    margin: 0;
}

.historiaTitulo{
    margin-left: 60px;
    align-items: normal;
    font-size: 20px;
    margin: 20px 0px 10px 0px; 
    text-align: center;
}

.linha {
    border-bottom: 4px solid rgb(94 163 181);
    width: 25rem;
    margin-left: auto;
    margin-right: auto;      
}

.historiaTexto {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px; 
    text-align: justify;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 20px;
}

.linhaBaixo{
    border-bottom: 4px solid rgb(94 163 181);
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
}